body {
    background-color: rgba(114, 113, 137, 0.6);


}

.carta {
    position: absolute;
    top: 100px;
    left: 200px;

}

.a {

    z-index: 1;
    width: 150px;
    height: 200px;

}

.b {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 200px;
    top: 50px;
    left: 50px;


}

.c {
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 200px;
    top: 100px;
    left: 100px;
}

.d {
    position: absolute;
    z-index: 4;
    width: 150px;
    height: 200px;
    top: 150px;
    left: 150px;

}

.f {
    position: absolute;
    z-index: 5;
    width: 150px;
    height: 200px;
    top: 200px;
    left: 200px;
}